.header
  .header_inner
    img.header_logo(src="{{logo}}")
    .header_title {{name}}
  .header_tagline {{tagline}}

<!--CONTENT-->

template#page-footer
  style(type='text/css').
    .page_number {
      font-size: 12px;
      color: #dedede;
      font-weight: 500;
      width: 100vw;
      border-top: 1px solid #dedede;
      margin-left: 1.5cm;
      margin-right: 1cm;
      padding-top: 2mm;
      margin-bottom: -2mm;
      text-align: center;
    }
  
  .page_number Page #[span.pageNumber] / #[span.totalPages]